<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tudresden.mobile.reserverest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <!-- dimakuv: permissions to use internet; don't delete! -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- dimakuv: permissions to use location services; don't delete! -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tudresden.mobile.reserverest.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tudresden.mobile.reserverest.RestaurantListActivity"
            android:label="@string/title_activity_list_restaurants" >
        </activity>
        <activity
            android:name="tudresden.mobile.reserverest.ReservationMenuOfChoosenRestaurant"
            android:label="@string/title_activity_reservation_menu_of_choosen_restaurant" >
        </activity>
        <activity
            android:name="tudresden.mobile.reserverest.Reservation_Form"
            android:label="@string/title_activity_reservation__form" >
        </activity>
        <activity
            android:name="tudresden.mobile.reserverest.Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="tudresden.mobile.reserverest.MenuList"
            android:label="@string/title_activity_menu_list" >
        </activity>
    </application>

</manifest>